<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RdfSerialisationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="testStoreLocation" serializeAs="String">
                <value>C:\dev\linqtordf\src\unit-testing\unit-tests\store3.n3</value>
            </setting>
            <setting name="taskStorePath" serializeAs="String">
                <value>C:\dev\linqtordf\src\unit-testing\standard-test-data</value>
            </setting>
            <setting name="tasksOntologyName" serializeAs="String">
                <value>tasks.n3</value>
            </setting>
            <setting name="tasksDataName" serializeAs="String">
                <value>task-data.n3</value>
            </setting>
        </UnitTests.Properties.Settings>
        <RdfSerialisationTest.Properties.Settings>
            <setting name="testStoreLocation" serializeAs="String">
                <value>C:\etc\dev\semantic-web\linqtordf\src\unit-testing\unit-tests\store3.n3</value>
            </setting>
            <setting name="taskStorePath" serializeAs="String">
                <value>C:\etc\dev\semantic-web\linqtordf\src\unit-testing\standard-test-data</value>
            </setting>
            <setting name="tasksOntologyName" serializeAs="String">
                <value>tasks.n3</value>
            </setting>
            <setting name="tasksDataName" serializeAs="String">
                <value>task-data.n3</value>
            </setting>
        </RdfSerialisationTest.Properties.Settings>
    </applicationSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>