<!--<ccnetconfig><configurationVersion>1.3</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="LinqToRdf">
    <sourcecontrol type="svn">
      <trunkUrl>https://linqtordf.googlecode.com/svn/trunk</trunkUrl>
      <workingDirectory>C:\etc\dev\ContinuousIntegration\linqtordf</workingDirectory>
      <username>matthews.andrew</username>
      <password>j6s5r8x7</password>
      <tagOnSuccess>True</tagOnSuccess>
      <tagBaseUrl>https://linqtordf.googlecode.com/svn/tags</tagBaseUrl>
    </sourcecontrol>
    <triggers />
    <tasks>
      <devenv>
        <solutionfile>C:\etc\dev\semantic-web\linqtordf\linqtordf.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>Rebuild</buildtype>
        <executable>C:\Program Files\Microsoft Visual Studio 9.0\Common7\IDE\devenv.exe</executable>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger />
    </publishers>
    <labeller type="defaultlabeller" />
  </project>
</cruisecontrol>
