<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("db569283-ae4f-4e28-bcc3-6aa3f4a1965e");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
