<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("495094c1-eb25-4eb1-9bdd-eb31202f2cf4");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
